# Dependencias (Ignora node_modules en cualquier subcarpeta)
**/node_modules/

# Configuración y secretos
.env
.env.local

# Archivos del sistema y logs
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# Editor (VS Code)
.vscode/

# Build/Producción
dist/
build/